@import '~antd/lib/style/themes/default.less';
// @import '~antd/dist/antd.less';

@primary-color: #383b38; // change antd primary-color
@secondary-color: #f3efed;
@primary-color-light: #bbbbbb;
@primary-color-hover: @secondary-color;
@primary-color-active: @secondary-color;
@primary-color-outline: fade(@primary-color, @outline-fade);
@menu-item-color: #626662;
@menu-highlight-color: #626662;