.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin: 0;
  position: relative;
  height: 75px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transform: translateY(4em);
  .navRight {
    .rwd(pad;{
      display: none;
    });
  }
}
.mobile-menu-btn {
  border: none;
  background-color: transparent;
  display: none;
  img {
    width: 40px;
  }
  .rwd(pad;{
    display: block;
  });
}
.mobile-menu-drawer {
  .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
    width: 100% !important;
    border: none;
  }
  .ant-menu.ant-menu-sub.ant-menu-inline {
    background-color: transparent;
  }
  .navRight {
    justify-content: left;
    padding-left: 24px;
  }
}

.navLeft {
  width: 240px;
  .rwd(pad;{
    display: none;
  });
}
.logo {
  font-family: 'Yeseva One', cursive;
}
.navRight {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  width: 240px;
  .rwd(pad;{
    width: fit-content;
  });
  a.cart-icon, a.loginBtn {
    padding-right: 20px;
  }
  
  .cart-icon {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginBtn {
    display: block;
  }
}
